@import "tailwindcss";

:root {
  --background: var(--color-brand-50);
  --foreground: var(--color-neutral-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-brand: #683F12;
  --color-brand-50: #F3EDE6;
  --color-brand-100: #D0C3B6;
  --color-brand-200: #BAA792;
  --color-brand-300: #9A7E60;
  --color-brand-400: #6B4720;
  --color-brand-500: #683F12;
  --color-brand-600: #5F3910;
  --color-brand-700: #483520;
  --color-brand-800: #3E3122;
  --color-brand-900: #1E1107;
  --color-brand-950: #2C1A08;

  /* Light brown */
  --color-light-brown: #D6B188;
  --color-light-brown-50: #FBF7F3;
  --color-light-brown-100: #F2E7DA;
  --color-light-brown-200: #ECDBC8;
  --color-light-brown-300: #E4CBAF;
  --color-light-brown-400: #DEC1A0;
  --color-light-brown-500: #D6B188;
  --color-light-brown-600: #BD9364;
  --color-light-brown-700: #B79168;
  --color-light-brown-800: #625547;
  --color-light-brown-900: #5A4A39;
  --color-light-brown-950: #4A3E31;

  /* Gold */
  --color-accent: #C4934E;
  --color-accent-50: #F9F4ED;
  --color-accent-100: #EDDEC8;
  --color-accent-200: #E4CDAE;
  --color-accent-300: #D7B788;
  --color-accent-400: #D0A971;
  --color-accent-500: #C4934E;
  --color-accent-600: #B28647;
  --color-accent-700: #8B6837;
  --color-accent-800: #6C512B;
  --color-accent-900: #523E21;
  --color-accent-950: #4D391B;

  /* Dark brown */
  --color-secondary: #582A09;
  --color-secondary-50: #F3EDE6;
  --color-secondary-100: #CBBDB3;
  --color-secondary-200: #B29D8E;
  --color-secondary-300: #8F705A;
  --color-secondary-400: #79553A;
  --color-secondary-500: #582A09;
  --color-secondary-600: #502608;
  --color-secondary-700: #3E1E06;
  --color-secondary-800: #301705;
  --color-secondary-900: #251204;
  --color-secondary-950: #2F1502;

  /* Success */
  --color-green: #008A57;
  --color-green-50: #E6F3EE;
  --color-green-100: #B0DBCB;
  --color-green-200: #8AC9B2;
  --color-green-300: #54B18E;
  --color-green-400: #33A179;
  --color-green-500: #008A57;
  --color-green-600: #007E4F;
  --color-green-700: #00623E;
  --color-green-800: #004C30;
  --color-green-900: #003A25;
  --color-green-950: #261D14;

  /* Danger */
  --color-red: #F44336;
  --color-red-50: #FEECEB;
  --color-red-100: #FCC5C1;
  --color-red-200: #FAA9A3;
  --color-red-300: #F88178;
  --color-red-400: #F6695E;
  --color-red-500: #F44336;
  --color-red-600: #DE3D31;
  --color-red-700: #AD3026;
  --color-red-800: #86251E;
  --color-red-900: #661C17;
  --color-red-950: #63120C;

  /* Neutral */
  --color-neutral: #F44336;
  --color-neutral-50: #F5F5F5;
  --color-neutral-100: #F2F2F2;
  --color-neutral-200: #ECECEC;
  --color-neutral-300: #E4E4E4;
  --color-neutral-400: #DEDEDE;
  --color-neutral-500: #CDCDCD;
  --color-neutral-600: #B7B7B7;
  --color-neutral-700: #999898;
  --color-neutral-800: #696868;
  --color-neutral-900: #4D4D4D;
  --color-neutral-950: #404040;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-brand-50);
    --foreground: var(--color-neutral-950);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}
