@import "tailwindcss";

/* use https://www.tailwindshades.com/ to generate color stepper */

:root {
  --background: #ffffff;
  --foreground: #3f3f3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  --color-primary: oklch(69.196% 0.08081 68.986);
  --color-primary-50: oklch(94.936% 0.0131 71.328);
  --color-primary-100: oklch(92.102% 0.02117 72.141);
  --color-primary-200: oklch(86.455% 0.03543 70.121);
  --color-primary-300: oklch(80.658% 0.05037 71.01);
  --color-primary-400: oklch(74.942% 0.06514 69.692);
  --color-primary-500: oklch(69.196% 0.08081 68.986);
  --color-primary-600: oklch(60.263% 0.0857 67.946);
  --color-primary-700: oklch(49.474% 0.06889 67.427);
  --color-primary-800: oklch(38.281% 0.05098 68.721);
  --color-primary-900: oklch(25.806% 0.03026 70.134);

  --color-secondary: oklch(40.806% 0.08117 63.721);
  --color-secondary-50: oklch(74.596% 0.12297 66.154);
  --color-secondary-100: oklch(72.227% 0.13333 64.921);
  --color-secondary-200: oklch(66.712% 0.14028 62.374);
  --color-secondary-300: oklch(58.497% 0.12202 62.376);
  --color-secondary-400: oklch(49.847% 0.10214 62.908);
  --color-secondary-500: oklch(40.806% 0.08117 63.721);
  --color-secondary-600: oklch(34.908% 0.0673 64.951);
  --color-secondary-700: oklch(28.904% 0.05358 65.622);
  --color-secondary-800: oklch(22.186% 0.03733 64.234);
  --color-secondary-900: oklch(15.163% 0.02159 73.316);

  --color-green: oklch(55.871% 0.11205 154.81);
  --color-green-50: oklch(83.11% 0.08502 158.26);
  --color-green-100: oklch(80.646% 0.09626 157.87);
  --color-green-200: oklch(76.095% 0.11835 157.03);
  --color-green-300: oklch(71.731% 0.13918 155.3);
  --color-green-400: oklch(64.617% 0.13171 154.63);
  --color-green-500: oklch(55.871% 0.11205 154.81);
  --color-green-600: oklch(45.837% 0.08939 155.02);
  --color-green-700: oklch(34.854% 0.06512 155.29);
  --color-green-800: oklch(23.339% 0.03802 155.94);
  --color-green-900: oklch(6.0847% 0.01039 194.77);

  --color-red: oklch(64.265% 0.21531 28.806);
  --color-red-50: oklch(94.377% 0.02652 23.359);
  --color-red-100: oklch(90.301% 0.04524 23.079);
  --color-red-200: oklch(82.571% 0.0877 24.314);
  --color-red-300: oklch(75.262% 0.13373 25.146);
  --color-red-400: oklch(69.082% 0.17771 26.72);
  --color-red-500: oklch(64.265% 0.21531 28.806);
  --color-red-600: oklch(58.658% 0.2301 29.722);
  --color-red-700: oklch(48.328% 0.18754 29.728);
  --color-red-800: oklch(37.44% 0.14209 29.778);
  --color-red-900: oklch(25.674% 0.09268 29.841);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}
