@import "tailwindcss";

/* use https://www.tailwindshades.com/ to generate color stepper */

:root {
  --background: #ffffff;
  --foreground: #3f3f3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  --color-primary: oklch(69.196% 0.08081 68.986);
  --color-primary-50: oklch(94.936% 0.0131 71.328);
  --color-primary-100: oklch(92.102% 0.02117 72.141);
  --color-primary-200: oklch(86.455% 0.03543 70.121);
  --color-primary-300: oklch(80.658% 0.05037 71.01);
  --color-primary-400: oklch(74.942% 0.06514 69.692);
  --color-primary-500: oklch(69.196% 0.08081 68.986);
  --color-primary-600: oklch(60.263% 0.0857 67.946);
  --color-primary-700: oklch(49.474% 0.06889 67.427);
  --color-primary-800: oklch(38.281% 0.05098 68.721);
  --color-primary-900: oklch(25.806% 0.03026 70.134);

  --color-secondary: oklch(40.806% 0.08117 63.721);
  --color-secondary-50: oklch(74.596% 0.12297 66.154);
  --color-secondary-100: oklch(72.227% 0.13333 64.921);
  --color-secondary-200: oklch(66.712% 0.14028 62.374);
  --color-secondary-300: oklch(58.497% 0.12202 62.376);
  --color-secondary-400: oklch(49.847% 0.10214 62.908);
  --color-secondary-500: oklch(40.806% 0.08117 63.721);
  --color-secondary-600: oklch(34.908% 0.0673 64.951);
  --color-secondary-700: oklch(28.904% 0.05358 65.622);
  --color-secondary-800: oklch(22.186% 0.03733 64.234);
  --color-secondary-900: oklch(15.163% 0.02159 73.316);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}
