import React from 'react';

export interface {{pascalCase namespace}}Props {}

export const {{pascalCase namespace}} = ({}: {{pascalCase namespace}}Props) => {
  return ( <p className="text-lg">{{pascalCase namespace}}</p> );
};
